@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply m-0 min-h-screen;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #1f2937;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #374151;
}
